<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::script})}"
>
<head>
    <title>DashBoard Page</title>
</head>
<body>
<div id="content" class="pl-64 pt-20">
    <!-- sidebar -->
    <!-- user is logged in : sidebar -->
    <div class="flex justify-center flex-col  items-center " >
        <h1 class="text-5xl">Welcome to DashBoard Page</h1>
        <p>lorel iposu uhfduh suihu rihu</p>
    </div>
</div>
<script>
    console.log("this is profile page");
</script>
</body>
</html>